@model CollectionWebApp.ViewModels.CollectionEditModel
@{
    ViewData["Title"] = "Edit collection";
}

<h1>@ViewData["Title"]</h1>

<div class="validation" asp-validation-summary="All"></div>
<form asp-action="Edit" asp-controller="Collection" asp-anti-forgery="true">
    <input hidden asp-for="UserId" />
    <input hidden asp-for="CollectionId" />    
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea type="text" class="form-control" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">ImageURL</label>
        <input type="url" class="form-control" asp-for="ImageUrl">
    </div>
    <div class="form-group">
        <label asp-for="ThemeId">Theme</label>
        <select asp-for="ThemeId" asp-items="Model.AvailableThemes"></select>
    </div>
    <div class="form-group">
        <label asp-for="Fields">Fields</label>
        <div class="fields">
            @Html.DisplayFor(m => m.Fields)
        </div>
        <a asp-action="Create" asp-controller="Field" asp-route-id="@Model.CollectionId">Create field</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn-primary btn" asp-action="Index" asp-controller="Collection" asp-route-id="@Model.UserId">Cancel</a>
</form>